services:
  backend:
    build: ./backend
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend/data:/app/data
    depends_on: []
  frontend:
    build: ./frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend